<nav class="navbar  navbar-expand-lg navbar-light bg-light">
  <section class="rw-wrapper">
    <h2 class="rw-sentence">
      <div class="rw-words rw-words-1">
        <a href="#" class="navbar-brand">
          <h2>ForeignExchange</h2>
        </a>

        <span>Willkommen</span>
        <span>Bienvenido</span>
        <span>欢迎</span>
        <span>Benvenuto</span>
        <span>Bienvenue</span>
        <span>txais tos</span>
        <span>bem vinda</span>
      </div>
    </h2>
    </div>
    </div>
</nav>
</section>
<div id="home">
  <div class="container">
    <div class="form-group col-4 text-center" id="userName" data-loggedin="false">
      <h2> Guest</h2>
      <!--If the user is logged in, this will fill with their name instead of guest-->
      <br>
      <button type="button" class="form-group btn btn-warning col-6" id="loggedBtn">
        Login / Signup
        <!--If the user is logged in, replace this field with the text "Logout" and change functionality...-->
      </button>
    </div>

    <div class="row">
      <div class="col-12">

        <div class="row">
          <form class="clearfix mb-4 col-12 form-row align-items-center">
            <div class="form-group col-4">
              <select class="form-control" id="foreignLangSub">
                <option>Find Language Here</option>
                <option id="de">German</option>
                <option id="es">Spanish</option>
                <option id="ja">Japanese</option>
                <option id="zh-hans">Chinese (simplified)</option>
                <option id="it">Italian</option>
                <option id="fr">French</option>
                <option id="mww">Hmong</option>
                <option id="pt">Portuguese</option>

              </select>
            </div>
            <div class="form-group col-4">
              <select class="form-control" id="catForm">
                <option>Categories</option>
                <option>Casual Phrases</option>
                <option>Current events</option>
                <option>Leisure</option>


                <!--Additional Category Options-->
              </select>
            </div>

            {{!--
            <div class="form-group col-4 text-center" id="userName" data-loggedin="false">
              Welcome, Guest
              <!--If the user is logged in, this will fill with their name instead of guest-->
              <button type="button" class="form-group btn btn-primary col-4" id="loggedBtn">
                Login / Signup
                <!--If the user is logged in, replace this field with the text "Logout" and change functionality...-->
              </button>
            </div> --}}

          </form>
        </div>

        <div class="row 4">
          <form class="clearfix mb-4 col-12 form-row align-items-center" action="POST">

            <div class="form-group col-4">
              <input type="text" id="engBaseField" class="form-control" aria-describedby="engBaseField" placeholder="Enter a phrase here">
            </div>
            <div class="form-group col-2">
              <button type="button" id="submit" class="btn btn-warning">Post Phrase!</button>
            </div>

            <div class="form-group col-4">

              <input class=" form-control" placeholder="Enter desired phrase Here" value="" name="search" id="search">
            </div>

            <div class="form-group col-2">
              <button type="button" id="searchBtn" class="btn btn-warning">Search Phrase!</button>
            </div>


          </form>
        </div>


        {{!-- <button href="./signup.html" type="button" class="form-group btn btn-primary col-2" id="loggedBtn">
          Login / Signup
          <!--If the user is logged in, replace this field with the text "Logout" and change functionality...-->
        </button> --}}
        <!--New Card for Data-->

        <h3>Phrases</h3>
        <!--Add more code here to provide limitations such as Category, Search Phrase, Recent, etc.-->
        <div id="example-list">
          {{#each examples}}
          <div class="card">
            <div class="card-header">
              {{this.nativePhrase}}
            </div>
            <div class="card-body">
              <h5 class="card-title">Translations</h5>

              {{#each this.translations as | trans |}}
              <div class="row">

                <p class="card-text col-auto">{{trans.trans}} ({{trans.language}})</p>
                <div class="col-auto">
                  <button class="col-auto btn btn-warning voteTotal">{{trans.votes}}</button> {{!--
                  <!-- {{vote total}}-->--}}
                  <button trans-id="{{trans.id}}" vote-type="up" class="col-auto btn btn-primary voteBtn">^</button>
                  <!--Upvote functionality with a button here. Numerical linking to specific translation in db.-->
                  <button trans-id="{{trans.id}}" vote-type="down" class="col-auto btn btn-danger voteBtn">v</button>
                </div>
              </div>
              {{/each}}
              <br>
            </div>
            <br>
            <form>
              <input type="text" id="new-trans-{{this.nativePhraseId}}" class="form-control" placeholder="I would say it like this">
              <select class="form-control" id="lang-trans-{{this.nativePhraseId}}">
                <option>Choose Language</option>
                <option>German</option>
                <option>Spanish</option>
                <option>Japanese</option>
                <option>Chinese (simplified)</option>
                <option>Italian</option>
                <option>French</option>
                <option>Hmong</option>
                <option>Portuguese</option>

              </select>

              <button phrase-id="{{this.nativePhraseId}}" class="btn btn-primary my-2 newTransBtn">Add new translation</button>
            </form>
          </div>
          <br>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>