<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!--<h1>{{msg}}</h1>-->
        <h1 class="col-12 text-center">ForeignExchange</h1>
        <h2 class="text-center col-12">This is how you
          <em>really</em> say it!</h2>
      </div>
    </div>

    <div class="row">
      <form class="clearfix mb-4 col-12 form-row align-items-center">
        <div class="form-group col-1">
          Translation Language
        </div>
        <div class="form-group col-4">
          <select class="form-control" id="foreignLangSub">
            <option>German</option>
            <option>Spanish</option>
            <option>Japanese</option>
            <option>Chinese (simplified)</option>
            <option>Italian</option>
            <option>French</option>
            <option>Hmong</option>



            <!--Add when additional functionality is desired-->
            {{!--
            <option>Spanish</option>
            <option>French</option>
            <option>Mandarin</option> --}}
          </select>
        </div>

        <div class="form-group col-1">
          Category
        </div>
        <div class="form-group col-4">
          <select class="form-control" id="catForm">
            <option>Categories: All</option>
            <option>Casual Phrases</option>
            <option>Current events</option>
            <option>Leisure</option>


            <!--Additional Category Options-->
          </select>
        </div>

        <div class="form-group col-2 text-center" id="userName" data-loggedin="false">
          Welcome, Guest
          <!--If the user is logged in, this will fill with their name instead of guest-->
        </div>

      </form>
    </div>

    <div class="row 4">
      <form class="clearfix mb-4 col-12 form-row align-items-center" action="POST">

        <div class="form-group col-1">
          <button type="button" id="submit" class="btn btn-primary">Post</button>
        </div>

        <div class="form-group col-4">
          <input type="text" id="engBaseField" class="form-control" aria-describedby="engBaseField" placeholder="Enter a phrase here">
        </div>

        <div class="form-group col-1">
          <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
        </div>

        <div class="form-group col-4">
          <input type="text" id="searchForm" class="form-control" placeholder="Enter a phrase Here">
        </div>

        <button type="button" class="form-group btn btn-primary col-2" id="loggedBtn">
          Login / Signup
          <!--If the user is logged in, replace this field with the text "Logout" and change functionality...-->
        </button>


      </form>
    </div>


    <!--New Card for Data-->

    <h3>Results:</h3>
    <!--Add more code here to provide limitations such as Category, Search Phrase, Recent, etc.-->
    <div id="example-list">
      {{#each examples}}
      <div class="card">
        <div class="card-header">
          {{this.nativePhrase}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Translations</h5>

          {{#each this.translations as | trans |}}
          <div class="row">
            
              <p class="card-text col-auto">{{trans.foreignPhrase}}</p>
              <div class="col-auto">
                <button class="col-auto btn btn-warning voteTotal">{{trans.rating}}</button> {{!--
                <!-- {{vote total}}-->--}}
                <button class="col-auto btn btn-primary upBtn">^</button>
                <!--Upvote functionality with a button here. Numerical linking to specific translation in db.-->
                <button class="col-auto btn btn-danger downBtn">V</button>
              </div>

            
          </div>
          {{/each}}

          <br>
          <a href="#" class="btn btn-primary">Add new translation</a>

        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
