<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!--<h1>{{msg}}</h1>-->
        <h1 class="col-12 text-center">ForeignExchange</h1>
        <h2 class="text-center col-12">This is how you
          <em>really</em> say it!</h2>
      </div>
    </div>

    <div class="row">
      <form class="clearfix mb-4 col-12 form-row align-items-center">
        <div class="form-group col-1">
          Translation Language
        </div>
        <div class="form-group col-4">
          <select class="form-control" id="foreignLangSub">
            <option>German</option>
            <option>Spanish</option>
            <option>Japanese</option>
            <option>Chinese (simplified)</option>
            <option>Italian</option>
            <option>French</option>
            <option>Hmong</option>



            <!--Add when additional functionality is desired-->
            {{!--
            <option>Spanish</option>
            <option>French</option>
            <option>Mandarin</option> --}}
          </select>
        </div>

        <div class="form-group col-1">
          Category
        </div>
        <div class="form-group col-4">
          <select class="form-control" id="catForm">
            <option>Categories: All</option>
            <option>Casual Phrases</option>
            <option>Current events</option>
            <option>Leisure</option>


            <!--Additional Category Options-->
          </select>
        </div>

        <div class="form-group col-2 text-center" id="userName" data-loggedin="false">
          Welcome, Guest
          <!--If the user is logged in, this will fill with their name instead of guest-->
        </div>

      </form>
    </div>

    <div class="row 4">
      <form class="clearfix mb-4 col-12 form-row align-items-center" action="POST">

        <div class="form-group col-1">
          <button type="button" id="submit" class="btn btn-primary">Post</button>
        </div>

        <div class="form-group col-4">
          <input type="text" id="engBaseField" class="form-control" aria-describedby="engBaseField" placeholder="Enter a phrase here">
        </div>

        <div class="form-group col-1">
          <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
        </div>

        <div class="form-group col-4">
          <input type="text" id="searchForm" class="form-control" placeholder="Enter a phrase Here">
        </div>

        <button type="button" class="form-group btn btn-primary col-2" id="loggedBtn">
          Login / Signup
          <!--If the user is logged in, replace this field with the text "Logout" and change functionality...-->
        </button>


      </form>
    </div>
    {{!--
    <div class="row">
      <h3>Results:</h3>
      <ul id="example-list" class="list-group">
        {{#each examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}} --}}

        <!--New Card for Data-->

        <h3>Results:</h3>
        <!--Add more code here to provide limitations such as Category, Search Phrase, Recent, etc.-->
        <div id="example-list">
        {{#each examples}}
        {{log "this is" this}}
        {{log "nativePhrase" this.nativePhrase}}
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">VT#</a>
                <!--Vote Total goes here within handlebars when data is available, links to translation data-->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">VT#2</a>
                <!--Vote Total goes here within handlebars when data is available, links to translation data-->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">VT#</a>
                <!--Vote Total goes here within handlebars when data is available, links to translation data-->
              </li>
            </ul>
          </div>
          <div class="card-body">
            <p class="card-title phraseDisp"> {{this.nativePhrase}}</p>
            <!--English Phrase will display here!-->
            <div class="row">
              <div class="col-auto">
                {{#each this.translations as | trans |}}
                {{log trans.foreignPhrase}}
                <div class="card-text ml-4 transDisp">{{foreignPhrase}}</div>
                {{/each}}
                <!--Translation linked from nav item above will be placed here!-->

              </div>
              <div class="col-auto">
                <button class="col-auto btn btn-warning voteTotal">142</button> {{!--
                <!-- {{vote total}}-->--}}
                <button class="col-auto btn btn-primary upBtn">^</button>
                <!--Upvote functionality with a button here. Numerical linking to specific translation in db.-->
                <button class="col-auto btn btn-danger downBtn">V</button>
              </div>
            </div>
            <div class="row">
              <div class="small col-3 phraseUserName">Submitted by: username {{!-- Username --}} </div>
              <div class="small col-3 offset-6 transUserName">Translation by: username</div> {{!-- Translation User Name --}}
            </div>
          </div>
        </div>
        {{/each}}
        </div>

        <!--End Card-->

      </ul>
    </div>

  </div>
</div>